.dp {
    width: 70px;
    height: 70px;
    margin: 10px 0 0 0;
    border-radius: 50%;
}

.profile-details {
    text-align: center;
    border-bottom: 1px solid #f2f3ef;
}

.sidebar {
    background-color: white;
    margin: .5rem;
    border-radius: 10px;
}

.profile-info{
    display: flex;
    justify-content: space-around;
}

.profile-info p{
    font-size: 12px;
}

.profile-info-name p{
    padding-left: 1rem;
}

.profile-info-value p{
    padding-left: 3rem;
}