.midnav{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    /* max-width: 100%; */
}

.category{
    display: flex;
    padding: 0 15px;
}

.products-for-sales{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0 10px;
}